includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 6
    excludePaths:
        - app/Filament/*
        - app/Http/Controllers/Auth/*
    ignoreErrors:
        - '#Access to an undefined property#'
        - '#return type has no value type specified in iterable type array.#'
