includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 5
    excludePaths:
        - app/Filament/*
        - app/Http/Controllers/Auth/*
    ignoreErrors:
        - '#Access to an undefined property#'
