parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$start_hour\\.$#"
			count: 1
			path: app/Actions/Table/CountTablesForTimeSlotAction.php

		-
			message: "#^Method App\\\\Actions\\\\Table\\\\CountTablesForTimeSlotAction\\:\\:__invoke\\(\\) has parameter \\$tables with generic class Illuminate\\\\Database\\\\Eloquent\\\\Collection but does not specify its types\\: TKey, TModel$#"
			count: 1
			path: app/Actions/Table/CountTablesForTimeSlotAction.php
